body{margin: 20px;}
h1{padding: 10px;}
.container{
    margin-left: 0;
    margin-right: 0;
    font-size: 18px;
}
.menu{
    display: inline-block;
    margin-left: 0;
}
.menu li {
    display: inline-block;
    background-color: #ffffff;
    color: #007bff;
    padding: 10px;
    border: 1px solid #e2e6e9;
    border-radius: 8px;
}
.menu a{
    text-decoration: none;
    color: #037eff;
}
li:hover{
    background-color: #f2f2f2;
    border: 1px solid rgba(0,123,255,.5);
}
a:hover{
    text-decoration:underline;
    color: #0062cc;
}
.login{
    display: inline-block;
    margin-right: 0;
    padding: 10px;
    background-color: #007bff;
    color: #007bff;
    border: 1px solid #e2e6e9;
    border-radius: 8px;
    text-align: center;
}
.login a{color: white;}
.kto{
    color: #a5a5a5;
    margin-bottom: 20px;
    float: right;
}
.kto p:hover{text-decoration: underline;}